
/*Form*/

input[type=text], textarea{
    width: 75%;
    padding: 5px 5px;
    margin: 8px 0;
    border: 2px solid #eb3118;
    border-radius: 4px;
}

input[type=submit]{
    background-color: #eb3118;
    border: none;
    border-radius: 6px;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #808080;
    color: #eb3118;
  }

/*Form*/

/* Content */